.card {
  transition: transform 0.2s;
  margin: 0 auto;

  img {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 1rem;

    @media (max-width: 780px) {
      width: 50%;
      grid-template-columns: auto;
    }
  }
}

.card:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
