i {
  font-size: 1.5rem;
  margin-left: 5rem;
  cursor: pointer;
  position: absolute;
  padding: 0.7rem;
  color: red;

  @media (max-width: 780px) {
    margin-left: 2rem;
    margin-top: -15%;
  }
}
