:root {
  --primary-color-base: #ff6633;
  --primary-color-base-rgb: 255, 102, 51;
  --primary-color-gradient: linear-gradient(270deg, #e65100 0%, #fb8c00 100%);
  --primary-color-50: #fff3e0;
  --primary-color-100: #ffe0b2;
  --primary-color-200: #ffcc80;
  --primary-color-300: #ffb74d;
  --primary-color-400: #ffa726;
  --primary-color-500: #ff9800;
  --primary-color-600: #fb8c00;
  --primary-color-700: #f57c00;
  --primary-color-800: #ef6c00;
  --primary-color-900: #e65100;

  --secondary-color-base: #21333c;
  --secondary-color-base-rgb: 33, 51, 60;
  --secondary-color-gradient: linear-gradient(270deg, #455a64 0%, #21333c 100%);
  --secondary-color-50: #eceff1;
  --secondary-color-100: #cfd8dc;
  --secondary-color-200: #b0bec5;
  --secondary-color-300: #90a4ae;
  --secondary-color-400: #78909c;
  --secondary-color-500: #607d8b;
  --secondary-color-600: #546e7a;
  --secondary-color-700: #455a64;
  --secondary-color-800: #37474f;
  --secondary-color-900: #263238;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  outline: none;
  border: none;
}

html,
body {
  height: 100%;
}

body {
  background: black;
  transition: background 0.5s ease-out;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
