.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem;
  text-align: center;

  @media (max-width: 780px) {
    margin-top: 10%;
    grid-template-columns: auto;
  }
}
