.search {
  top: 2%;
  left: 50%;
}

.loading {
  margin-top: 20%;
  margin-left: 50%;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem;
  text-align: center;

  &__movie {
    width: 70%;
    cursor: pointer;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  }
}
