.search {
  top: 3%;
  left: 15%;

  @media (max-width: 780px) {
    top: 15%;
  }
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem;
  text-align: center;

  @media (max-width: 780px) {
    margin-top: 10%;
    grid-template-columns: auto;
  }

  &__movie {
    max-width: 70%;
    cursor: pointer;
    margin: 20px;
    border-radius: 3px;

    @media (max-width: 780px) {
      width: 50%;
      grid-template-columns: auto;
    }
  }
}
